@import url('https://fonts.googleapis.com/css?family=Karla|Inconsolata');

body {
    --accent-color: #EB5160;
    --accent-color-lighter: #EE6D7A;

    color: white;
    font-family: "Inconsolata";
}